.cuadradito{
  background-color: #f00;
  height: 50px;
  width: 50px;
  margin:3px;
  z-index: -1;
}

#divmensaje {
  background-color: yellow;
   position: absolute;
   padding: 5px;
   width:250px;
   left:120px;
   top:100px;
  z-index: 100;
}